[Desktop Entry]
Type=Application
Name=ZeroNet
GenericName=VPN client
Comment=Performance, Speed, and Freedom in your hands.
Comment[fa]=کارایی، سرعت و آزادی در دستان شما.
Exec=zeronet-tui
Icon=zeronet
Terminal=true
Categories=Network;
Keywords=vpn;proxy;xray;v2ray;vless;reality;
