<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>ZeroNet</string>
    <key>CFBundleDisplayName</key>
    <string>ZeroNet</string>
    <key>CFBundleIdentifier</key>
    <string>com.zeronet.tui</string>
    <key>CFBundleExecutable</key>
    <string>zeronet-tui</string>
    <key>CFBundleIconFile</key>
    <string>zeronet</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>@VERSION@</string>
    <key>CFBundleVersion</key>
    <string>@VERSION@</string>
    <key>LSMinimumSystemVersion</key>
    <string>11.0</string>
    <key>NSHighResolutionCapable</key>
    <true/>
</dict>
</plist>
